numpy>=1.24.0,<2.0.0
matplotlib>=3.7.0
seaborn>=0.12.0
scikit-learn
tensorflow[and-cuda]
tensorflow-datasets>=4.9.0
matplotlib
librosa>=0.10.0
ipython>=8.12.0
pygame>=2.6.1  
docutils==0.16  
Sphinx==1.2.3
sphinx-rtd-theme==0.5.2
numpydoc>=0.9.0
Pygments>=2.19.2
Jinja2==3.1.6  
MarkupSafe==3.0.2
mock>=1.0.1
pillow>=11.2.1
setuptools>=69.2.0
pip>=24.2